
.errorContainer {
	max-width: 1020px;
	margin: 20px auto 5px;
	color: #bb0000;
	font-size: 13px;
}
.errorList {
	max-width: 960px;
	margin: 10px auto;
	color: #c52525;
	font-weight: 600;
	padding: 10px 30px;
	background-color: #f9efef;
	border: 1px solid #ffbbb3;
}
ul.messages {
	max-width: 960px;
	margin: 10px auto;
	color: #c52525;
	font-weight: 600;
	padding: 10px 30px;
	background-color: #f9efef;
	border: 1px solid #ffbbb3;
	list-style-type: none;
}
#error-messages {
	max-width: 960px;
	margin: 10px auto;
	color: #c52525;
	font-weight: 600;
	padding: 10px 30px;
	background-color: #f9efef;
	border: 1px solid #ffbbb3;
	background-color: transparent;
	border: none;
	padding: 0;
	ul {
		margin: 0;
	}
}
